.column-form {
    box-shadow: lightgray;
}

.add-column-btn {
    height: 20px;
    background-color: rgb(193, 216, 241);
    color: blue;
    border: none;
    border-radius: 5%;
}

.close-form-btn {
    height: 20px;
    color: rgb(13, 13, 53);
    border: none;
    border-radius: 10%;
}