.card-user {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(3px + 0.6vw);
    background-color: rgba(61, 9, 145, 0.658);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}