.card-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    min-height: 100px;
    margin: 1.5em auto;
    padding: 1em;
    position: relative;
    border: 1px solid rgb(146, 144, 144);
    border-radius: 3%;
    background-color: white;
}

.vertical-line::before {
    position: absolute;
    left: 0;
    top: 1.3em;
    content: " ";
    background: blue;
    width: 2px;
    height: calc(10px + 1.7vw);
}

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(3px + 1vw);
    margin: 0.2em 0;
}

.card-title-with-btn {
    display: flex;
    justify-content: space-between;
}

.delete-card-btn {
    font-size: calc(1px + 1vw);
    font-weight: 500;
    border: none;
    border-radius: 20%;
    color: black;
    background-color: rgb(120, 132, 145, 0.5);

}

.date-wrap {
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2px + 0.7vw);
    padding-top: 0.2em;
    color: gray;
}

.header-date-separator {
    padding: 0px 0.3em;
}

.card-label-wrap {
    display: flex;
    justify-content: flex-start;
}

.card-user {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2px + 0.6vw);
    border-radius: 50%;
}