.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #9361e2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-self:center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.login-sign-in-btn {
    width: 100%;
    height: fit-content;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2px + 1vw);
    font-weight: 600;
    box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.5);
}

.loader-wrap {
    margin-top: 1rem;
}

  
