.login-wrap {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin: 100px auto;
    align-items: center;
    border: 2px solid black;
    background: white;
    box-shadow:0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.login-email {
    width: 70%;
    font-size: calc(5px + 1vw);
}

.login-password {
    width: 70%;
    font-size: calc(5px + 1vw);
}

.login-clear-email-btn {
    width: 30%;
    height: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2px + 1vw);
    font-weight: 500;
    margin-right: 3rem;
    box-shadow: 0.2em 0.2em 4px rgba(122,122,122,0.5);
}

.login-buttons {
    display: flex;
    align-items: baseline;
}