.header-app {
    position: fixed;
    top: 40px;
    right: 40px;
}

.logout-btn {
    padding: 0.4em;
    font-size: calc(4px + 1vw);
    font-weight: 800;
    color: #fff;
    background: rgb(230, 231, 247, 0.2);
    border: none;
}