.column-header {
    min-width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 1em;
}

.create-card-btn {
    height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(1px + 1vw);
    font-weight: 700;
    border: none;
    border-radius: 20%;
    color: white;
    background-color: rgb(120, 132, 145);
}

.column-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(3px + 1.1vw);
    font-weight: 600;
    color: white;
}

.column-counter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(3px + 1vw);
    font-weight: 500;
    color:white;
}